<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <section class="sub-header">

        <h1>Cart</h1>
        <div class="cart" id="cart">
            <h2 class="cart-title">Your Cart</h2>
            <div class="cart-content">
                <div class="cart-box">
                    <img src="" alt="" class="cart-img">
                    <div class="detail-box">
                        <div class="cart-product-title">Product-Name</div>
                        <div class="cart-price">$</div>
                        <input type="number" value="1" class="cart-quantity">
                    </div>
                    <i class="bx bxs-trash-alt cart-remove"></i>
                </div>
            </div>
            <div class="total">
                <div class="total-title">Total</div>
                <div class="tota-price">0$</div>
            </div>
            <button type="button" class="btn-buy">Buy Now</button>
            <i class="bx bx-x" id="close-cart"></i>
        </div>


    </section>

</body>

</html>