<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/bb84af38dc.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Clothes Website</title>
    <link rel="stylesheet" href="style/main.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
</head>

<body>
    <script type="text/javascript" src="scripts/mains.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <section class="container">
        <h1>Our Catalog</h1>
        <p>
        <div class="select">
            <label for="gender">Gedner</label>
            <select name="gender" id="gender">
                <option value="all">all</option>
                <option value="male">male</option>
                <option value="female">female</option>

            </select>
            <label for="size">Size</label>
            <select name="size" id="size">
                <option value="all">all</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
            </select>

            <label for="category">Category</label>
            <select name="category" id="category">
                <option value="all">all</option>
                <option value="t-shirt">t-shirt</option>
                <option value="plaid">plaid</option>
            </select>

            <button type="button1" class="btn-search" id="myButton1"
                onclick="ShowCatalog1(document.getElementById('gender').value,document.getElementById('size').value,document.getElementById('category').value)">Search</button>
            <br>
            <label for="company1">Company</label>
            <select name="company1" id="company1">
                <option value="all">all</option>
                <option value="Nike">Nike</option>
                <option value="Balenciaga">Balenciaga</option>
                <option value="Kenzo">Kenzo</option>
                <option value="Supreme">Supreme</option>
                <option value="Vlone">Vlone</option>
                <option value="Play">Play</option>
                <option value="Burberry">Burberry</option>
                <option value="Fendi">Fendi</option>
                <option value="Gucci">Gucci</option>
                <option value="Amiri">Amiri</option>
            </select>

            <label for="maxprice">MaxPrice</label>
            <select name="maxprice" id="maxprice">
                <option value="all">all</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="250">250</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>

            <label for="color">Color</label>
            <select name="color" id="color">
                <option value="all">all</option>
                <option value="colorful">colorful</option>
                <option value="black">black</option>
                <option value="white">white</option>
                <option value="green">green</option>
                <option value="yellow">yellow</option>
                <option value="navy">navy</option>
                <option value="pink">pink</option>
            </select>

            <button type="button1" class="btn-search" id="myButton2"
                onclick="ShowCatalog2(document.getElementById('company1').value,document.getElementById('maxprice').value,document.getElementById('color').value)">Search</button>
            </p>
        </div>
    </section>

    <!-- <section class="pro-container"> -->

    <!-- <nav class="navbar">
        <div class="navbar-center">
            <div class="cart-btn">
                <span class="nav-icon">

                    <i class="fas fa-shopping-cart"></i>
                </span>
                <div class="cart-items">0</div>
            </div>
        </div>
    </nav>  -->
    <section class="products">
        <div class="section-title">
            <h2>Products</h2>
        </div>
        <div class="products-center"></div>
    </section>
    <div class="cart-overlay">
        <div class="cart">
            <span class="close-cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </span>
            <br>
            <h2>Cart</h2>
            <div class="cart-content">
                <div class="cart-box">
                    <div class="detail-box">
                        <div class="cart-product-title"></div>
                        <div class="cart-price"></div>
                    </div>
                </div>
            </div>
            <div class="cart-footer">
                <h3>Total Price:<div class="cart-total">0</div>USD
                </h3>
            </div>

            <input class="un" value="" type="text" placeholder="Please Insert Your ID">
            <div class="userAlert"></div>
            <div class="userAlert2"></div>
            <button type="button" class="btn-buy" onclick="BuyNow()">Buy Now</button>


        </div>
    </div>
    <!-- </section> -->
    <!-- <div class="cart-overlay">
        <div class="cart">
            <span class="close-cart">
                <i class="fas fa-times"></i>
            </span>
            <h2>Cart</h2>
            <div class="cart-content"></div>
            <div class="cart-footer">
                <h3>Total Price: $<span class="cart-total"></span></h3>
                <button class="clear-cart btn">Remove Products</button>
            </div>
        </div>
    </div> -->

</body>

</html>