<!DOCTYPE html>
<html>

<head>
</head>

<body id="bd">
    <script type="text/javascript" src="scripts/mains.js"></script>

    <div class="text-box">
        <h1 id="wel">Welcome To Fashion Shop</h1>
        <h2 id="lux">luxury brand</h2>
    </div>

    <section class="one">
        <h1 id="rec">Our Recommendations</h1>
        <h3>Follow us on facebook page for updates</h3>

        <div class="row">
            <div class="one-col">
                <h3>You may like</h3>
                <p>Talk to us in the chat</p>
            </div>
            <div class="one-col">
                <h3>New Season</h3>
                <p>View our catalog</p>
            </div>
        </div>

    </section>

    <section class="two">
        <h1>Our Top Brands</h1>
        <h3>Limited Edition</h3>
        <div class="row">
            <div class="two-col">
                <img src="images/nikettl.png">
                <div class="layer">
                    <h3>Nike</h3>
                </div>
            </div>
            <div class="two-col">
                <img src="images/balenciagettl.png">
                <div class="layer">
                    <h3>Balenciaga</h3>
                </div>
            </div>
            <div class="two-col">
                <img src="images/supremettl.jpg">
                <div class="layer">
                    <h3>Supreme</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="three">
        <div id="map"></div>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1lRPzPBHuKlkSVrXGlWvhGYQlISrMSBE&callback=initMap">
            </script>
    </section>

    <section class="four">
        <h1>Our Coustomers</h1>
        <h3>Join the club</h3>

        <div class="row">
            <div class="four-col">
                <img src="images/netaalchimister.jpg">
                <div>
                    <p>Excellent quality and fast service</p>
                    <h3>Neta Alchimister</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="four-col">
                <img src="images/shaharh.jpg">
                <div>
                    <p>Top shel ahaim!!</p>
                    <h3>Shahar Hayun</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
            <div class="four-col">
                <img src="images/omern.jpg">
                <div>
                    <p>I love it!</p>
                    <h3>Omer Nudelman</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-stroke"></i>
                </div>
            </div>
        </div>

    </section>

    <section id="video" class="section-video">
        <div class="video">
            <video autoplay muted loop src="images/istockphoto-1007546500-640_adpp_is.mp4"></video>
        </div>
    </section>

    <section class="cta">
        <h1>Follow Us On Facebook</h1>
        <a href="https://www.facebook.com/Fashion-shop-103914885705757" class="hero-btn">CLICK HERE</a>
    </section>

</body>

</html>