<html>

<head>
    <link rel="stylesheet" href="style/main.css">

</head>

<!--
    conect to admin -
    user : champions  
    password: 5555 -->

<body>
    <div class="main">
        <p class="sign">Sign in</p>
        <form action="/action_page.php" class="form1">
            <input class="un" id="userAdmin" type="text" placeholder="Username">
            <input class="pass" id="passAdmin" type="password" placeholder="Password">
            <div id="wrong"></div>
            <a class="submit" onclick="AdminLogIn()">Sign in</a>
    </div>

</body>

</html>